

// Color themes
$colors: (
	white: white,
	sky-500: $sky-500,
	sky-600: $sky-600,
	green-500: $green-500,
	green-600: $green-600,
	yellow-500: $yellow-500,
	yellow-600: $yellow-600,
	orange-500: $orange-500,
	orange-600: $orange-600,
	red-500: $red-500,
	red-600: $red-600,

	blue-50: $blue-50,
	blue-100: $blue-100,
	blue-200: $blue-200,
	blue-300: $blue-300,
	blue-400: $blue-400,
	blue-500: $blue-500,
	blue-600: $blue-600,
	blue-700: $blue-700,
	blue-800: $blue-800,
	blue-900: $blue-900,

	gray-50: $gray-50,
	gray-100: $gray-100,
	gray-200: $gray-200,
	gray-300: $gray-300,
	gray-400: $gray-400,
	gray-500: $gray-500,
	gray-600: $gray-600,
	gray-700: $gray-700,
	gray-800: $gray-800,
	gray-900: $gray-900

);

@mixin color($name, $color) {

	.#{$name} {
		background-color: $color;
	}
	.#{$name}-text {
		color: $color;
	}

}

@each $name, $color in $colors {
	@include color($name, $color);
}
