// Variables
// --------------------------------------------------

//== Grid system
//
// row는 행(가로줄)이며 column은 행 안에 위치한 열(세로줄)입니다.
// 전체 body(문서)는 하나 또는 여럿의 row로 이루어져 있으며 row는 하나 또는 여럿의 column으로 이루어져 있습니다.
// column은 반드시 row안에 위치해야 합니다.



//-------------------------------------------
//== Typography
//
// 모든 글자 체계는 base가 되는 글자에 비례합니다.
// 따라서 기본이 되는 글자 크기($font-size-base)와 
// 기본이 되는 글자의 높이($line-height-base)를 조절하면
// 전체 글자 체계의 크가와 간격이 그에 맞게 수정되므로, 
// 세부 항목의 글자 비례는 특수한 상황이 아니라면, 
// 별도의 style문서에서 수정해주시기 바랍니다.
$font-family:					'SpoqaHanSans-Regular', "맑은 고딕", 'Sans-serif';
$font-family-Thin:				'SpoqaHanSans-Thin' !default;
$font-family-Regular:			'SpoqaHanSans-Regular' !default;
$font-family-Bold:				'SpoqaHanSans-Bold' !default;

$font-size-base:          		16px !default;
$font-color-base:				black !default;
$line-height-base:				1.6 !default;
// 기본이 되는 글자의 크기와 높이. (p, h5가 이에 해당)
//

$word-break-point:				keep-all !default;
// keep-all: 단어분절 // break-all: 글자분절


$headings-font-family:			$font-family !default;
$headings-font-weight:			500;	
$headings-line-height:			$line-height-base !default;
// 헤드라인 (h1 ~ h6)의 서체, 무게, 높이

$font-size-h1:    		        floor(($font-size-base * 2.6)) !default;
$font-size-h2:         		    floor(($font-size-base * 2.15)) !default;
$font-size-h3:            		ceil(($font-size-base * 1.7)) !default;
$font-size-h4:            		ceil(($font-size-base * 1.25)) !default;
$font-size-h5:		            $font-size-base !default;
$font-size-h6:          		ceil(($font-size-base * 0.85)) !default;
// 헤드라인의 글자 크기를 기본 글자 크기의 상대값의 배수로 지정. 
// ceil과 floor는 각각 숫자를 올림과 내림한다.

$line-height-calculated:    	floor(($font-size-base * $line-height-base)) !default;
// (기본 폰트 크기)에 (줄 간격으로 설정된 배수)가 곱해진 실제 글줄의 높이

$strong-font-weight:			bold !default;
//strong 태그로 강조하고 싶은 글자의 무게: 100 ~ 900, light, normal, bold

//--------------------------------------------------
//==Color System

$white:							#ffffff !default;
$white-dimmed:					#eeeeee	!default;

$sky:							#5BB0EC	!default;
$sky-dimmed:					#4294cf !default;

$green:							#00c117	!default;
$green-dimmed:					#00a113	!default;

$yellow:						#ffbc00	!default;
$yellow-dimmed:					#E0A500	!default;

$orange:						#f57f0a	!default;
$orange-dimmed:					#d66f09	!default;

$red:							#db5237	!default;
$red-dimmed:					#BD472F	!default;

$blue:							#4e7bfa	!default;
$blue-dimmed:					#4167d1	!default;

//---------------------------------------
//==Button Style					

//Text
$btn-base-font-size:			$font-size-base !default;
$btn-base-line-height:			$line-height-base !default;

//Border-radius
$btn-base-border-radius:		4px	!default;

//Padding
$btn-base-padding-vertical:		10px !default;
$btn-base-padding-horizontal:   40px !default;

//Border
$btn-base-border-width:			0px !default;
$btn-base-border-style:			solid !default; 

//Shadow
$btn-base-h-shadow:				1px !default; // 숫자가 커질수록 아래로
$btn-base-w-shadow:				1px !default; // 숫자가 커질수록 오른쪽으로

//Basic setting
$btn-base-font-weight:			normal !default;
$btn-base-text-align:			center !default;
$btn-base-vertical-align:		middle !default;
$btn-base-text-margin:			0px	!default;
$btn-base-text-decoration:		none !default;
$btn-base-display:				inline-block !default;



//---------------------------------
//==Navigation bar
// 메뉴명에 menu-left 혹은 menu-right 클래스를 추가하세요. 메뉴가 왼쪽 혹은 오른쪽으로 정렬됩니다.
// 네비게이션은 기본적으로 수직정렬되어있습니다. 요소의 크기를 변경하더라도 자동을 정렬됩니다.


// 네비게이션의 위치: relative, absolute, fixed(상단고정)
$nav-position-fix:				fixed !default; 

//네비게이션의 높이, 메뉴 간격
$nav-height:					85px !default;
$nav-menu-padding-between:		50px !default;

// 기본 설계 - 꼭 필요한 상황이 아나리면 수정하지 마세요.
// 네비게이션의 높이 / 2 한 값이 로고와 메뉴의 높이가 됩니다.

$nav-ul-margin-top-and-bottom:	0px !default;
$nav-logo-margin:				$nav-ul-margin-top-and-bottom;
$nav-logo-height:				$nav-height / 3 !default;
$nav-ul-height:					$nav-logo-height !default;
$nav-width:						100% !default;


