section {
	border-bottom: 1px solid lightgray;
}

#grid [class*='col'] {
	color: #4d5256;
	border: 1px solid lightgray;
}

section.color .col-12 {
	border: none;
	color: white;
	
}
section.color .col-12:first-of-type {
	border : 1px solid lightgray;
}

section.color .col-12:first-of-type, 
section.color .col-12:nth-of-type(2){
	color: #4e7bfa;
}

.buttons .row { background-color:  }
.buttons a {
	margin: 10px;
}

a, a:active, a:hover {
	text-decoration: none;
	color: black;
}

.highlight {
	background-color: #f8fafb;
}