// Style for docs
div {
	min-height:50px;
	background-color: white;
	border: 1px solid lighten(gray, 30%);
	color: lighten(black,20%);
}


.row.typography [class*='col-']:first-of-type { padding-left: 10px;}

.fixed-box {
	height: 300px;
	h3{ 
		margin: 0px;
	}
}

.color * .box {
	height: 50px;
	border: none;
	* {
		@include vertical-align();
		text-align: center;
		color: white;
		margin: 0px;
	}
}

.buttons {
	.col-12{
		background-color: lighten(gray, 40%);
	}
	* *{
		margin: 10px;
	}
}
.code *{
	border: none;
}