@charset "UTF-8";
.vertical-align *, nav * {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section {
  padding: 90px 6% 90px 6%; }

.row {
  width: 100%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class*='col-'] {
    float: left;
    padding: 20px 7.5px 20px 7.5px; }
    .row [class*='col-']:first-of-type {
      padding-left: 10px; }
    .row [class*='col-']:last-of-type {
      padding-right: 10px; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@font-face {
  font-family: 'SpoqaHanSans-Regular';
  font-style: normal;
  font-weight: 500;
  src: local("SpoqaHanSans-Regular"), local("SpoqaHanSans-Regular"), local("SpoqaHanSans-Regular");
  src: url(SpoqaHanSans-Regular.eot);
  src: url(Regular.eot?#iefix) format("embedded-opentype"), url(SpoqaHanSans-Regular.woff) format("woff"), url(SpoqaHanSans-Regular.otf) format("truetype"); }
@font-face {
  font-family: 'SpoqaHanSans-Thin';
  src: local("SpoqaHanSans-Thin"), local("SpoqaHanSans-Thin"), local("SpoqaHanSans-Thin");
  src: url(assets/fonts/SpoqaHanSans-Thin.eot);
  src: url(assets/fonts/SpoqaHanSans-Thin.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SpoqaHanSans-Thin.woff) format("woff"), url(assets/fonts/SpoqaHanSans-Thin.otf) format("truetype"); }
@font-face {
  font-family: 'SpoqaHanSans-Bold';
  src: local("SpoqaHanSans-Bold"), local("SpoqaHanSans-Bold"), local("SpoqaHanSans-Bold");
  src: url(assets/fonts/SpoqaHanSans-Bold.eot);
  src: url(assets/fonts/SpoqaHanSans-Bold.eot?#iefix) format("embedded-opentype"), url(assets/fonts/SpoqaHanSans-Bold.woff) format("woff"), url(assets/fonts/SpoqaHanSans-Bold.otf) format("truetype"); }
* {
  font-family: "SpoqaHanSans-Regular", "SpoqaHanSans-Thin", "SpoqaHanSans-Bold", "맑은 고딕", "Sans-serif"; }

.thin {
  font-family: "SpoqaHanSans-Thin"; }

.regular {
  font-family: "SpoqaHanSans-Regular"; }

.bold {
  font-family: "SpoqaHanSans-Bold"; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "SpoqaHanSans-Regular", "SpoqaHanSans-Thin", "SpoqaHanSans-Bold", "맑은 고딕", "Sans-serif";
  font-weight: 100;
  line-height: 1.6; }

h1, .h1 {
  font-size: 41px; }

h2, .h2 {
  font-size: 34px; }

h3, .h3 {
  font-size: 28px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 25px;
  margin-bottom: 12.5px; }

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 12.5px; }

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6 {
  word-break: keep-all; }

.text-left, nav.menu-left {
  text-align: left; }

.text-right, nav.menu-right {
  text-align: right; }

.text-center {
  text-align: center; }

strong {
  font-weight: bold; }

.white {
  background-color: #ffffff; }

.white-dimmed {
  background-color: #eeeeee; }

.sky {
  background-color: #5BB0EC; }

.sky-dimmed {
  background-color: #4294cf; }

.green {
  background-color: #00c117; }

.green-dimmed {
  background-color: #00a113; }

.yellow {
  background-color: #ffbc00; }

.yellow-dimmed {
  background-color: #E0A500; }

.orange {
  background-color: #f57f0a; }

.orange-dimmed {
  background-color: #d66f09; }

.red {
  background-color: #db5237; }

.red-dimmed {
  background-color: #BD472F; }

.blue {
  background-color: #4e7bfa; }

.blue-dimmed {
  background-color: #4167d1; }

.btn-normal, .btn-next, .btn-success, .btn-warning-dark, .btn-warning-bright, .btn-failed, .btn-tint {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: 10px 40px;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  text-decoration: none; }
  .btn-normal *, .btn-next *, .btn-success *, .btn-warning-dark *, .btn-warning-bright *, .btn-failed *, .btn-tint * {
    margin: 0px; }

.btn-normal {
  color: #4167d1;
  background-color: #ffffff;
  border: 0px solid #cdcdcd;
  -webkit-box-shadow: 1px 1px #cdcdcd;
  box-shadow: 1px 1px #cdcdcd; }

.btn-next {
  color: #ffffff;
  background-color: #5BB0EC;
  border: 0px solid #4294cf;
  -webkit-box-shadow: 1px 1px #4294cf;
  box-shadow: 1px 1px #4294cf; }

.btn-success {
  color: #ffffff;
  background-color: #00c117;
  border: 0px solid #00a113;
  -webkit-box-shadow: 1px 1px #00a113;
  box-shadow: 1px 1px #00a113; }

.btn-warning-dark {
  color: #ffffff;
  background-color: #ffbc00;
  border: 0px solid #E0A500;
  -webkit-box-shadow: 1px 1px #E0A500;
  box-shadow: 1px 1px #E0A500; }

.btn-warning-bright {
  color: #ffffff;
  background-color: #f57f0a;
  border: 0px solid #d66f09;
  -webkit-box-shadow: 1px 1px #d66f09;
  box-shadow: 1px 1px #d66f09; }

.btn-failed {
  color: #ffffff;
  background-color: #db5237;
  border: 0px solid none;
  -webkit-box-shadow: 1px 1px #BD472F;
  box-shadow: 1px 1px #BD472F; }

.btn-tint {
  color: #ffffff;
  background-color: #4e7bfa;
  border: 0px solid none;
  -webkit-box-shadow: 1px 1px #4167d1;
  box-shadow: 1px 1px #4167d1; }

nav {
  position: absolute;
  width: 100%;
  height: 85px;
  padding: 0 6%; }
  nav img {
    height: 28.33333px; }
  nav ul {
    display: inline-block;
    padding: 0;
    margin: 0px 0;
    height: 28.33333px; }
    nav ul li {
      list-style: none; }
  nav.menu-left ul li {
    float: left;
    padding-right: 50px; }
  nav.menu-left img {
    float: right; }
  nav.menu-right ul li {
    float: right;
    padding-left: 50px; }
  nav.menu-right img {
    float: left; }

/*# sourceMappingURL=tossframe.css.map */
