@font-face {
    font-family: 'SpoqaHanSans-Regular';
    font-style: normal;
    font-weight: 500;
    src: local('SpoqaHanSans-Regular'), local('SpoqaHanSans-Regular'), local('SpoqaHanSans-Regular');
    src: url(SpoqaHanSans-Regular.eot);
    src: url(Regular.eot?#iefix) format('embedded-opentype'),
    url(SpoqaHanSans-Regular.woff) format('woff'),
    url(SpoqaHanSans-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSans-Thin';

    src: local('SpoqaHanSans-Thin'), local('SpoqaHanSans-Thin'), local('SpoqaHanSans-Thin');
    src: url(assets/fonts/SpoqaHanSans-Thin.eot);
    src: url(assets/fonts/SpoqaHanSans-Thin.eot?#iefix) format('embedded-opentype'),
    url(assets/fonts/SpoqaHanSans-Thin.woff) format('woff'),
    url(assets/fonts/SpoqaHanSans-Thin.otf) format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSans-Bold';

    src: local('SpoqaHanSans-Bold'), local('SpoqaHanSans-Bold'), local('SpoqaHanSans-Bold');
    src: url(assets/fonts/SpoqaHanSans-Bold.eot);
    src: url(assets/fonts/SpoqaHanSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(assets/fonts/SpoqaHanSans-Bold.woff) format('woff'),
    url(assets/fonts/SpoqaHanSans-Bold.otf) format('truetype');
}

* { font-family: $font-family; }

.thin { font-family: $font-family-Thin; }
.regular { font-family: $font-family-Regular; }
.bold { font-family: $font-family-Bold; }

//폰트의 서체, 무게, 줄간격 설정
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

// 폰트 사이즈 설정
h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// 문단 간격 : 계산된 글줄 높이만큼, 혹은 그 절반만큼
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: $line-height-calculated;
  margin-bottom: ($line-height-calculated / 2);
}

p {
	font-size: $font-size-base;
	line-height: $line-height-base;
	margin: 0 0 ($line-height-calculated / 2);
}

// 글줄 단어 분절 속성

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6 { 
	word-break: $word-break-point;
}

// 정렬

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }

// 강조

strong {
	font-weight: $strong-font-weight;
}

